#main-header {
    background-color:rgb(100, 100, 100);
    color: whitesmoke;
    padding: .5em;
    margin: -.5em -0.5em;
}

#main-section {
    display:flex;
    background-color: whitesmoke;
}

#computer-section {
    display:flex;
}

.container {
    width:960px;
    margin:auto;
    margin-top: 3em;
}

.item {
    margin:1em;
    padding:1em;
    width: 320px;
    height:300px;
}

img {
    width:400px;
    padding: 1em;
}